/*--------------------------------------------------------------
# Main  article
--------------------------------------------------------------*/

.article {
    grid-area: mainArticle;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/*--------------------------------------------------------------
# Author information
--------------------------------------------------------------*/

.authorInfo {
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    position: absolute;
    border-bottom-right-radius: 1.25rem;
    padding: 0.5rem;
    left: 0;
}

.authorInfo picture {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 0.5rem;
}

.authorInfo img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;
}

.authorInfo p {
    font-size: 0.8rem;
}

.authorInfo p:nth-child(3):before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background: var(--accent);
    border-radius: 50%;
    margin: 0 0.6rem;
}

/*--------------------------------------------------------------
# Article title
--------------------------------------------------------------*/

.articleTitle {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--bg-light);
    border-top-left-radius: 1.25rem;
    padding: 0.5rem;
    text-transform: capitalize;
}

.articleTitle h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

/*--------------------------------------------------------------
# Article image
--------------------------------------------------------------*/

.articleThumbnail {
    width: 100%;
    height: 30rem;
}

.articleThumbnail img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 1.25rem;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/

@media (min-width: 60rem) {
    .article {
        margin-top: 0;
    }
}

@media (min-width: 75rem) {
    .article {
        margin-bottom: 0;
    }
}

/*--------------------------------------------------------------
# Darkmode
--------------------------------------------------------------*/

@media (prefers-color-scheme: dark) {
    .authorInfo {
        background-color: var(--bg-dark);
    }

    .articleTitle {
        background-color: var(--bg-dark);
    }
}