/*--------------------------------------------------------------
# Articles wrapper
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/

@media (min-width: 31.25rem) {
    .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.25rem;
    }
}

@media (min-width: 60rem) {
    .section {
        grid-area: articles;
    }
}