/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.main {
    grid-template-columns: 2fr 0.85fr;
    grid-template-areas:
    "detailArticle detailArticleInfo"
    "otherArticles detailArticleInfo";
    grid-gap: 1.5rem;
    /*padding: 0 4.7rem;*/
    padding: 0 1rem;
}

/*--------------------------------------------------------------
# Detail article additional info
--------------------------------------------------------------*/
.aside {
    grid-area: detailArticleInfo;
}

/* Article body */
.articleBody {
    padding: 1rem;
    font-size: 0.9rem;
}

.articleBody p {
    margin-bottom: 1rem;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 62.5rem) {
    .main {
        display: grid;
        padding: 0 1.5rem;
        grid-template-columns: 2fr 1.5fr;
    }
}

@media (min-width: 75rem) {
    .main {
        display: grid;
        padding: 0 4.7rem;
        grid-template-columns: 2fr 0.85fr;
    }

    .articleBody {
        padding: 1.5rem 1.25rem;
    }
}