/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.main {
    grid-template-columns: 1fr;
    grid-template-areas: "mainContent mainArticle mainArticle"
        "mainContentArticle articles articles";
    grid-gap: 2rem;
    padding: 2rem  1.25rem;
}

/*--------------------------------------------------------------
# Main content section
--------------------------------------------------------------*/

.section {
    grid-area: mainContent;
}

.section h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.section h1 span {
    background: linear-gradient(to right, #FAFAFA 20%, #00CBA0 40%, #00CBA0 60%, #FAFAFA 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2.5s linear infinite;
}

.section p {
    font-size: 0.95rem;
    font-weight: 400;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/

@media (min-width: 60rem) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
    }
}

@media (min-width: 75rem) {
    .main {
        grid-gap: 1rem;
        padding: 6.2rem 6.2rem 0 5rem;
    }
}

/*--------------------------------------------------------------
# Darkmode
--------------------------------------------------------------*/

@media (prefers-color-scheme: dark) {
    .section h1 span {
        background: linear-gradient(to right, #030303 20%, #00CBA0 40%, #00CBA0 60%, #030303 80%);
        animation: shine 2.5s linear infinite;
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 2.5s linear infinite;
    }
}