/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.main {
    grid-template-columns: 1fr;
    grid-template-areas: "mainContent mainArticle mainArticle"
        "mainContentArticle articles articles";
    grid-gap: 2rem;
}

/*--------------------------------------------------------------
# Main content section
--------------------------------------------------------------*/

.section {
    grid-area: mainContent;
}

.section h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.section h1 span {
    color: var(--accent);
}

.section p {
    font-size: 0.95rem;
    font-weight: 400;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/

@media (min-width: 60rem) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
    }
}

@media (min-width: 75rem) {
    .main {
        grid-gap: 1rem;
    }
}