/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

:root {
    --bg-primary: #030303;
    --bg-secondary: #1C1D1F;
    --accent: #00CBA0;
    --color-white: #FFFFFF;
}