/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

:root {
    --bg-dark: #030303;
    --bg-light: #FAFAFA;
    --bg-secondary: #1C1D1F;
    --bg-grey: #1B1E1F;
    --accent: #00CBA0;
    --color-white: #FFFFFF;
}