/*--------------------------------------------------------------
# Detail article info card
--------------------------------------------------------------*/
.section {
    background-color: var(--bg-grey);
    padding: 1rem 1.25rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.section span {
    color: var(--color-grey);
    font-size: 0.9rem;
    margin-bottom: 0.85rem;
}

.section p {
    font-size: 0.9rem;
    color: var(--color-white);
}

/*--------------------------------------------------------------
# Detail article author info
--------------------------------------------------------------*/
.authorInfo {
    display: flex;
    align-items: center;
}

/* Author image */
.authorInfo picture {
    width: 1.75rem;
    height: 1.75rem;
}

.authorInfo picture img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;
}

.authorInfo p {
    margin-left: 0.94rem;
}

/*--------------------------------------------------------------
# Detail article short description
--------------------------------------------------------------*/
.shortDescription {
    margin-top: 0.85rem;
}

.shortDescription p {
    margin-top: 0.85rem;
}

/*--------------------------------------------------------------
# Detail article dates
--------------------------------------------------------------*/
.articleDates {
    display: flex;
    margin-top: 0.85rem;
}

.articleDates div:nth-child(1) {
    margin-right: 3rem;
}

.articleDates p {
    margin-top: 0.85rem;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 31.25rem) {
    .section {
        display: inline-block;
    }

    .authorInfo {
        margin-top: 0.85rem;
    }

    .shortDescription p {
        max-width: 30rem;
    }
}

@media (min-width: 53rem) {
    .section {
        margin-top: 0;
        display: flex;
    }

    .authorInfo {
        margin-top: 0;
    }
}
