/*--------------------------------------------------------------
# Detail article info card
--------------------------------------------------------------*/
.section {
    background-color: var(--bg-grey);
    padding: 1rem 1.25rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
}

.div {
    display: flex;
    align-items: center;
}

/*--------------------------------------------------------------
# Detail article author image
--------------------------------------------------------------*/
.picture {
    width: 1.75rem;
    height: 1.75rem;
}

.picture img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;
}