/*--------------------------------------------------------------
# Back to overview link
--------------------------------------------------------------*/
.div {
    margin: 1rem;
    padding: 0.63rem 1.25rem;
    border-radius: 1.25rem;
    background-color: var(--bg-grey);
    display: inline-block;
}

.div a {
    font-size: 0.8rem;
    color: var(--color-white);
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 75rem) {
    .div {
        margin: 0.94rem 4.7rem;
    }
}
